<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Regexper{{#if htmlWebpackPlugin.options.title}} - {{htmlWebpackPlugin.options.title}}{{/if}}</title>

    <meta name="description" content="Regular expression visualizer using railroad diagrams" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#bada55" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt" />
    <style>
      @font-face {
        font-family: 'Bangers';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts-gstatic.js.cool/l/font?kit=FeVQS0BTqb0h60ACL5xa37xjoWgMp6tfRiE&skey=80f504448509eaf7&v=v13) format('woff2');
      }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5059418763237956"
     crossorigin="anonymous"></script>
    <!-- Built: {{htmlWebpackPlugin.options.date}} -->
  </head>
  <body>
    <header>
      <div class="logo">
        <h1><a href="/">Regexper</a></h1>
        <!-- n. One who regexpes -->
        <span>你原以为你只有两个问题</span>
      </div>

      <nav>
        <ul>
          <li>
            <a class="inline-icon" href="/documentation.html">{{icon "#document"}}文档</a>
          </li>
          <li>
            <a class="inline-icon" href="https://gitlab.com/javallone/regexper-static" target="_blank">{{icon "#code"}} GitLab 源码</a>
          </li>
          <li>
            <a class="inline-icon" href="https://github.com/wshow/regexper.js.cool" target="_blank">{{icon "#code"}} Github 汉化</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
